name: Node.js CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v2

      - name: Install
        run: npm install

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test

      - name: Build
        run: npm run build

      - name: Generate license file
        if: github.ref == 'refs/heads/main'
        run: npm run generate-license-file

      - name: Generate Service Worker
        if: github.ref == 'refs/heads/main'
        run: npm run generate-sw

      - name: Add .nojekyll file
        if: github.ref == 'refs/heads/main'
        run: touch dist/.nojekyll

      - name: Add CNAME file
        if: github.ref == 'refs/heads/main'
        run: echo 'paint.js.org' > CNAME

      - name: Deploy
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@4.0.0
        with:
          branch: gh-pages
          folder: dist
